<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            Testing singulum library
        </title>
    </head>

    <body>
        <div id="app-container">
            Running tests, please wait...
        </div>

        <script src="http://localhost:4000/dist/singulum.js"></script>
    </body>
</html>